.calculator {
  width: 400px;
  margin-left: 600px;
  text-align: center;
  border: 1px solid #b7a5a5;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #a09494;
}

.calculator-display {
  background-color: #080505;
  color: rgb(231, 222, 222);
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.button-C {
  grid-column: span 4;
  background-color: #f0f0f0;
  font-size: 1.5rem;
  padding: 15px;
}

button {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
